<nav>
  <div class="site-title">
    <a href="/"><h1>Mongodb</h1></a>
    <p>This site is based on database handling CRUD operations </p>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/user/create">Add-User</a></li>
  </ul>
</nav>