# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore npm debugging logs
npm-debug.log*

# Ignore yarn.lock file (if using Yarn)
yarn.lock

# Ignore .env file containing environment variables
.env

# Ignore files generated during development/build
dist/
build/
coverage/

# Ignore IDE and editor-specific files
.vscode/
.idea/
*.sublime-*
*.swp
.DS_Store
