<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>This sites is all about CRUD operation like creating users, reading or called finding users, updating the users 
      if necessary and at last deleting the users if the admin or certain users required. This is like previously done 
      CRUD apps using PHP and MYSQL. But in case of nodejs it takes hard works and somehow better knowledge of javascript
      and i also like to tell my story based on nodejs express and mongoose that i have suffered before doing this project.
      So the story is that i was just feeling soo bad like after studying PHP and its sql database i was thinking that it 
      will be much more easier to understand mongodb using nodejs but it was not as expected despite it takes me alots of 
      time becz i can't daily focus on doing nodejs mongoose program i don't know why but this happens for long period and 
      like i was doing nothing for 2weeks but after long period i found myself useless becz i haven't code for a long so unwa
      ntingly i decide to study this again and this time i work hard on it and finally this projects is done and my fear towa
      rds coding mongoose eliminated. So as a suggestion i want to tell you all that never leave any programming whenever you 
      feels like i can't do this. Instead try that hard part for many days then finally you will realize that it wasn't that mu
      ch hard as expected. It is right that it takes some long time compare to others but it is easy after giving some times to it.
    </p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>