@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
    body{
      max-width: 1200px;
      margin: 20px auto;
      padding: 0 20px;
      font-family: 'Noto Serif', serif;
      max-width: 1200px;
    }
    p, h1, h2, h3, a, ul{
      margin: 0;
      padding: 0;
      text-decoration: none;
      color: #222;
    }

    /* nav & footer styles */
    nav{
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd;
      text-transform: uppercase;
    }
    nav ul{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    nav li{
      list-style-type: none;
      margin-left: 20px;
      font-weight: bolder;
    }
    nav li a{
      font-weight: bolder;
    }
    nav h1{
      font-size: 3em;
      color: #222;
    }
    nav p, nav a{
      color: #777;
      font-weight: 300;
    }
    footer{
      color: #777;
      text-align: center;
      margin: 30px auto 20px;
    }
    h2{
      margin-bottom: 40px;
    }
    h3{
      text-transform: capitalize;
      margin-bottom: 8px;
    }
    .content{
      margin-left: 20px;
    }
    .content h3{
      color: rgb(187, 178, 53);
    }

    /* index styles */
    .blogs a{
      display: block;
      margin: 40px 0;
      padding-left: 30px;
      border-left: 6px solid rgb(20, 220, 137);
    }
    .blogs a:hover h3{
      color: rgb(204, 59, 156);
    }

    /* details styles */
    .details{
      position: relative;
    }
    .delete{
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 50%;
      padding: 8px;
    }
    .operation-btn{
      margin-left:40px;
    }
    button {
      border:none;
      font-size: larger;
      cursor: pointer;
      transition-duration: 0.4s;
      height:40px;
    }
    
    button:hover {
      background-color: #303631; /* Green */
      color: white;
    }
    .delete:hover{
      cursor: pointer;
      box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
    }

    /* create styles */
    .create-blog form{
      max-width: 400px;
      margin: 0 auto;
    }
    .create-blog input,
    .create-blog textarea{
      display: block;
      width: 100%;
      margin: 5px 0;
      padding: 8px;
    }
    .create-blog label{
      display: block;
      margin-top: 14px;
      color:rgb(47, 19, 75);
      font-weight: 550;
    }
    .create-blog button{
      margin-top: 10px;
      background: crimson;
      color: white;
      padding: 6px;
      border: 0;
      font-size: 1.2em;
      cursor: pointer;
      transition-duration: 0.5s;
    }
    .create-blog button:hover {
      background-color: #09a723; /* Green */
    }
    .sub{
      text-align: center;
    }

    span{
      font-weight: bolder;
    }

    